*{
    margin: 0;
    padding: 20;
    font-family:'Times New Roman', Times, Arial, Helvetica, sans-serif;
}
.main{
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    font-size: large;
    background: scroll;
    background-color: lightcoral;
}
.Sub{
    width: 100%;
    height: 50vh;
    position:absolute;
    overflow: scroll;
    font-size: medium;
}